<h3>Health</h3>
<table>
    <tr>
        <th>Value</th>
        <th>Level</th>
        <th>Meaning</th>
    </tr>
    <tr>
        <td>3</td>
        <td><span class="badge bg-success">Okay</span></td>
        <td>The KPI is at an acceptable level compared to the threshold</td>
    </tr>
    <tr>
        <td>2</td>
        <td><span class="badge bg-warning">Attention</span></td>
        <td>This is a blip, or we’re going to watch it, or we just need to enact a proven intervention</td>
    </tr>
    <tr>
        <td>1</td>
        <td><span class="badge bg-danger">Problem</span></td>
        <td>We'll prioritize our efforts here</td>
    </tr>
    <tr>
        <td>-1</td>
        <td><span class="badge bg-primary">Confidential</span></td>
        <td>Metric & metric health are confidential</td>
    </tr>
    <tr>
        <td>0</td>
        <td><span class="badge bg-dark">Unknown</span></td>
        <td>Unknown</td>
    </tr>
</table>
