These are the broad definition for each of the weights values. We don't use a Fibonacci-based progression but we do try to split up large issues as we understand they are by definition less accurate predictions.

When issues are Frontend only, we use the Weight feature of Issues.

When issues are both Frontend and Backend we use specific labels to support both weights in the same issue: `~frontend-weight::1` through `~frontend-weight::13`. Only weights between 1-5 can be scheduled into a milestone. Higher ones need to be broken down.

**Note:** Since milestone 13.10, we switched to using a fibonacci based scale. The reason behind this is how hard it's been to distinguish between issues of weight 3 and 4 or weight 4 and 5. Fibonacci allows for a clearer distinction as weights increase.

| Weight | Description  |
| --- | --- | --- |
| 1: Trivial | The problem is very well understood, no extra investigation is required, the exact solution is already known and just needs to be implemented, no surprises are expected, and no coordination with other teams or people is required. |
| 2: Small | The problem is well understood and a solution is outlined, but a little bit of extra investigation will probably still be required to realize the solution. |
| 3: Medium | Features that are well understood and relatively straightforward. Bugs that are relatively poorly understood and may not yet have a suggested solution. |
| 5: Medium - unschedulable | Features that are poorly understood and not very straightforward to implement. Involves a good deal of work with a wide scope. Bugs that are poorly understood and don't have a suggested solution, yet. Includes some hard-to-test code or require deep refactoring work. Must be turned into multiple issues for scheduling; consider first doing a timeboxed spike to investigate further, remove uncertainty and aid the splitting into smaller issues. |
| 8: Large - unschedulable | Extremely large features. Must be turned into an epic with several iterative steps becoming issues |


<details>
<summary>Old weights table - Deprecated (last used in 13.9) </summary>

<table>
<thead><tr>
<td>Weight</td>
<td>Description</td>
</tr></thead>
<tbody>
<tr><td>1: Trivial</td><td>The problem is very well understood, no extra investigation is required, the exact solution is already known and just needs to be implemented, no surprises are expected, and no coordination with other teams or people is required.</td></tr>
<tr><td>2: Small</td><td>The problem is well understood and a solution is outlined, but a little bit of extra investigation will probably still be required to realize the solution.</td></tr>
<tr><td>3: Medium</td><td>Features that are well understood and relatively straightforward. Bugs that are relatively poorly understood and may not yet have a suggested solution.</td></tr>
<tr><td>4: Medium</td><td>Features that are well understood and relatively straightforward but still need a good deal of work. Bugs that are relatively poorly understood and may not yet have a suggested solution. Includes some tasks that might be hard to test.</td></tr>
<tr><td>5: Large</td><td>Features that are well understood, but known to be hard. Bugs that are very poorly understood, and will not have a suggested solution.</td></tr>
<tr><td>8: Very large</td><td>Very large features that usually require the dedication of a FE for the full length of the milestone. — Very rare, usually split into smaller issues</td></tr>
</tbody>
</table>

</details>
