---
layout: default
title: "GitLab Champions: Advocating for Shared Success"
description: "GitLab Champions enlists, supports, rewards, and recognizes members of the GitLab Partner community who make outstanding contributions to GitLab and our community around the globe."
suppress_header: true
canonical_path: "/community/champions/"
twitter_image: "/images/opengraph/champions/GitLab-Hero-BeA.png"
twitter_image_alt: "GitLab Champions graphical logo asking you to become a GitLab Champions"
twitter_site: "gitlab"
twitter_creator: "gitlab"
extra_css:
  - solutions2020.css
  - bl-modal.css
  - video-carousel.css
  - heroes-contributions.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
---

.container.slp-container.header-content
  %h1
    GitLab Champions: Advocating for Shared Success
  %h4
    GitLab Champions enlists, supports, rewards, and recognizes members of the GitLab Partner community who make outstanding contributions to GitLab and our community around the globe.
  %a.btn.cta-btn.orange-light{:href => 'https://docs.google.com/forms/d/e/1FAIpQLSdLonA8F4Msz8wujNeOYKwkC0ohjUamgv4ZH3FNgC2MQHgBzA/viewform?subject=GitLab%20Heroes%20Application&body=Please fill in the attached form to submit an application to join the GitLab Champions Program', } Become a GitLab Champion

.container.slp-container.solutions-blocks
  .solutions-block.solution-1
    %h2.title
      Be a Champion
    .description
      %p
        At GitLab, = link_to "collaboration is a core value." "https://about.gitlab.com/handbook/values/" In that spirit, we believe our partner community is a critical extension of the GitLab team.
      %p
       Solution Architects in Pre-Sales or Consulting roles are the ideal candidates for the GitLab Partner Champions program. You represent the focal point of technical enablement within your organization.  As the internal SME for GitLab, you achieve “technical wins” such as joint demos with our account teams, booking joint deals with GitLab, writing blog posts and whitepapers, hosting meetups, conducting your own enablement and workshops, and speaking at conferences and events.

        If you advocate GitLab within your organization, we want to enlist, support, reward, and recognize you for your contribution as a GitLab Partner Champion.


  .solutions-block.image.image-1
    %img{src: "/images/events/gitlab-commit/call-for-proposal.jpg", alt: "Image of speaker", loading: "lazy"}

  .solutions-block.image.image-2
    %img{src: "/nuxt-images/blogimages/vlabsdev_coverimage.jpg", alt: "Image of collaboration", loading: "lazy"}

  .solutions-block.solution-2
    %h2.title
      Champions Rewards
    .description
      %ul{ style: "list-style-type: disc"}
        %li
          Invitations to Champions virtual meetups and/or social events
        %li
          GitLab Champions Badge for use on social media profiles 
        %li
          Access to GitLab partner SAs and product managers
        %li
          Annual regional events and bootcamp training 
        %li
          Special Champions recognition and/or sessions at GitLab Commit or other tech conferences
        %li
          GitLab Champions swag


  .solutions-block.solution-3
    %h2.title
      Champion Qualities
    .description
      %ul{ style: "list-style-type: disc"}
        %li
         Evangelize for GitLab, DevSecOps, and Open Source software within your organization.
        %li
          Aspire to our
          = link_to "mission,", "/company/mission/#mission"
          uphold our
          = link_to "values,", "/handbook/values/"
          and adhere to our
          = link_to "Code of Conduct.", "/community/contribute/code-of-conduct/"
        %li
          Sustained level of contribution to GitLab with technical wins.

  .solutions-block.image.image-2
    %img{src: "/images/heroes/educate.jpg", alt: "Image of collaboration", loading: "lazy"}

