{{- $team_dict := dict  }}
{{- with resources.GetRemote "https://about.gitlab.com/company/team/team.yml" (dict "mediaType" "application/yaml")}}
  {{- with .Err}}
    <h2>Unable to fetch Team Member Data File</h2>
  {{- else }}
      {{- $data := .Content | transform.Unmarshal }}
      {{- $team := sort $data "name" }}
      {{- range $team }}
      {{ if .gitlab }}
          {{- $team_dict = merge $team_dict (dict .slug .) }}
      {{ else }}
        {{- warnf "User with name %s is missing their slug in the teams.yml file." .name }}
        {{- end }}
      {{- end }}
  {{- end }}
{{- end }}
{{ return $team_dict }}
