---
layout: handbook-page-toc
title: "Protect stage Performance Indicators"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%# Threat Insights and Container Security %>
### Development indicators
(<a href="https://app.periscopedata.com/app/gitlab/681347/MR-Metrics-by-Organization" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/dev_dashboard.erb", locals: { filter_type: 'sub_department', filter_value: 'threat management' } %>

### Quality indicators
(<a href="https://app.periscopedata.com/app/gitlab/736012/Quality-Embedded-Dashboard" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/quality_dashboard.erb", locals: { filter_type: 'team_group', filter_value: ['threat insights', 'container security'] } %>

### UX indicators
(<a href="https://app.periscopedata.com/app/gitlab/736036/UX-Embedded-Dashboard" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/ux_dashboard.erb", locals: { filter_type: 'team_group', filter_value: ['threat insights', 'container security'] } %>

### Security indicators
(<a href="https://app.periscopedata.com/app/gitlab/758795/Appsec-Embedded-Dashboard" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/security_dashboard.erb", locals: { filter_type: 'team_group', filter_value: ['threat insights', 'container security'] } %>
