{{ $section_data := . }}
{{ $team_dict := partials.IncludeCached "data/team-by-name" page }}
{{- $devTeam := slice }}
{{- $backendManager := slice }}
{{- $beTeam := slice }}
{{- $feTeam := slice }}
{{- $frontendManager := slice }}
{{- $fullstackManager := slice }}
{{- $pmTeam := slice }}
{{- $pdTeam := slice }}
{{- $spdTeam := slice }}
{{- $uxrTeam := slice }}
{{- $uxTeam := slice }}
{{- $focusTeam := slice }}
{{- $supportTeam := slice }}
{{- $pmmTeam := slice }}
{{- $qualityTeam := slice }}
{{- $cmTeam := slice }}
{{- $twTeam := slice }}
{{- $csTeam := slice }}
{{- $setTeam := slice }}
{{- $arTeam := slice }}
{{- $sreTeam := slice }}
{{- $remTeam := slice }}
{{- $sponserTeam := slice }}
{{- $legalTeam := slice }}
{{- $sponsorTeam := slice }}
{{- $appsecEngineer := slice }}
{{- $infrasecEngineer := slice }}


{{- with $section_data.appsec_engineer }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $appsecEngineer =  $appsecEngineer | append . }}
        {{- end }}
    {{ else }}
        {{- $appsecEngineer =  $appsecEngineer | append . }}
    {{ end }}
{{- end }}

{{- with $section_data.infrasec_engineer }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $infrasecEngineer =  $infrasecEngineer | append . }}
        {{- end }}
    {{ else }}
        {{- $infrasecEngineer =  $infrasecEngineer | append . }}
    {{ end }}
{{- end }}

{{- with $section_data.pm }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $pmTeam =  $pmTeam | append . }}
        {{- end }}
    {{ else }}
        {{- $pmTeam =  $pmTeam | append . }}
    {{ end }}
{{- end }}


{{- with $section_data.em }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $devTeam =  $devTeam | append . }}
        {{- end }}
    {{- else }}
        {{- $devTeam = $devTeam | append . }}
    {{- end }}
{{- end }}

{{- with $section_data.backend_engineering_manager }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $backendManager =  $backendManager | append . }}
        {{- end }}
    {{- else }}
        {{- $backendManager =  $backendManager | append . }}
    {{- end }}
{{- end }}

{{- with $section_data.frontend_engineering_manager }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $frontendManager =  $frontendManager | append . }}
        {{- end }}
    {{- else }}
        {{- $frontendManager =  $frontendManager | append . }}
    {{- end }}
{{- end }}

{{- with $section_data.fullstack_engineering_manager }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $fullstackManager =  $fullstackManager | append . }}
        {{- end }}
    {{- else }}
        {{- $fullstackManager =  $fullstackManager | append . }}
    {{- end }}
{{- end }}

{{- with $section_data.pdm }}
    {{- if reflect.IsSlice . }}
        {{range .}}
            {{- $pdTeam = append . $pdTeam }}
        {{- end }}
    {{- else }}
        {{- $pdTeam = append . $pdTeam }}
    {{- end }}
{{- end }}

{{- with $section_data.spd }}
    {{- if reflect.IsSlice . }}
        {{range .}}
            {{- $spdTeam = append . $spdTeam }}
        {{- end }}
    {{- else }}
        {{- $spdTeam = append . $spdTeam }}
    {{- end }}
{{- end }}

{{- with $section_data.uxr }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $uxrTeam = append . $uxrTeam }}
        {{- end }}
    {{- else }}
        {{- $uxrTeam = append . $uxrTeam }}
    {{- end }}
{{- end }}

{{- with $section_data.ux }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $uxTeam = append . $uxTeam }}
        {{- end }}
    {{- else }}
        {{- $uxTeam = append . $uxTeam }}
    {{- end }}
{{- end }}

{{- with $section_data.support }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $supportTeam = $supportTeam | append . }}
        {{- end }}
    {{ else }}
        {{- $supportTeam = $supportTeam | append . }}
    {{ end }}
{{- end }}

{{- with $section_data.quality }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $qualityTeam = append . $qualityTeam }}
        {{- end }}
    {{- else }}
        {{- $qualityTeam = append . $qualityTeam }}
    {{- end }}
{{- end }}

{{- with $section_data.cm }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $cmTeam = append . $cmTeam }}
        {{- end }}
    {{- else }}
        {{- $cmTeam = append . $cmTeam }}
    {{- end }}
{{- end }}

{{- with $section_data.tw }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- if not (eq . "true") }}
            {{- $twTeam = append . $twTeam }}
            {{- end }}
        {{- end }}
    {{- else }}
        {{- if not (eq . "true") }}
            {{- $twTeam = append . $twTeam }}
        {{ end }}
    {{- end }}
{{- end }}

{{- with $section_data.tech_writer }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $twTeam = append . $twTeam }}
        {{- end }}
    {{- else }}
        {{- $twTeam = append . $twTeam }}
    {{- end }}
{{- end }}

{{- with $section_data.cs }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $csTeam = $csTeam | append . }}
        {{- end }}
    {{- else }}
        {{- $csTeam = $csTeam | append . }}
    {{- end }}
{{- end }}

{{- with $section_data.ar }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $arTeam = $arTeam | append . }}
        {{- end }}
    {{- else }}
        {{- $arTeam = $arTeam | append . }}
    {{- end }}
{{- end }}

{{- with $section_data.rem }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $remTeam = append . $remTeam }}
        {{- end }}
    {{- else }}
        {{- $remTeam = append . $remTeam }}
    {{- end }}
{{- end }}

{{- with $section_data.pmm }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $pmmTeam = append . $pmmTeam }}
        {{- end }}
    {{- else }}
        {{- $pmmTeam = append . $pmmTeam }}
    {{- end }}
{{- end }}

{{- with $section_data.product_sponsor }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $sponserTeam = append . $sponserTeam }}
        {{- end }}
    {{- else }}
        {{- $sponserTeam = append . $sponserTeam }}
    {{- end }}
{{- end }}


{{- with $section_data.legal }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $legalTeam = $legalTeam | append .name }}
        {{- end }}
    {{- else }}
        {{- $legalTeam = $legalTeam | append .name }}
    {{- end }}
{{- end }}

{{- with $section_data.sets }}
    {{- if reflect.IsSlice . }}
        {{- range . }}
            {{- $setTeam =  $setTeam | append . }}
        {{- end }}
    {{- else }}
        {{- $setTeam =  $setTeam | append . }}
    {{- end }}
{{- end }}

{{- $pmTeamTag := "" }}
{{- $devTeamTag := "" }}
{{- $beTeamTag := "" }}
{{- $feTeamTag := "" }}
{{- $supportTeamTag := "" }}
{{- $qualityTeamTag := "" }}
{{- $cmTeamTag := "" }}
{{- $twTeamTag := "" }}
{{- $csTeamTag := "" }}
{{- $sreTeamTag := "" }}
{{- $arTeamTag := "" }}
{{- $legalTeamTag := "" }}

{{- with $section_data.pm_team_tag }}
    {{- $pmTeamTag = . }}
{{- end }}
{{- with $section_data.development_team_tag }}
    {{- $devTeamTag = . }}
{{- end }}
{{- with $section_data.be_team_tag }}
    {{- $beTeamTag = . }}
{{- end }}
{{- with $section_data.fe_team_tag }}
    {{- $feTeamTag = . }}
{{- end }}
{{- with $section_data.support_team_tag }}
    {{- $supportTeamTag = . }}
{{- end }}
{{- with $section_data.quality_team_tag }}
    {{- $qualityTeamTag = . }}
{{- end }}
{{- with $section_data.cm_team_tag }}
    {{- $cmTeamTag = . }}
{{- end }}
{{- with $section_data.tw_team_tag }}
    {{- $twTeamTag = . }}
{{- end }}
{{- with $section_data.cs_team_tag }}
    {{- $csTeamTag = . }}
{{- end }}
{{- with $section_data.ar_team_tag }}
    {{- $arTeamTag = . }}
{{- end }}
{{- with $section_data.infra_reliability_team_tag }}
    {{- $sreTeamTag = . }}
{{- end}}
{{- with $section_data.legal_team_tag }}
    {{- $legalTeamTag = . }}
{{- end }}

{{- range $team_dict }}
    {{- if in .departments $pmTeamTag }}
        {{- $pmTeam =  $pmTeam | append .name }}
    {{- end }}
    {{- if in .departments $devTeamTag }}
        {{- $devTeam =  $devTeam | append .name }}
    {{- end }}
    {{- if in .departments $beTeamTag }}
        {{- $beTeam =  $beTeam | append .name }}
    {{- end }}
    {{- if in .departments $feTeamTag }}
        {{- $feTeam = $feTeam | append .name }}
    {{- end }}
    {{- if in .departments $qualityTeamTag }}
        {{- $qualityTeam = append $qualityTeam .name }}
    {{- end }}
    {{- if in .departments $cmTeamTag }}
        {{- $cmTeam = append $cmTeam .name }}
    {{- end }}
    {{- if in .departments $twTeamTag }}
        {{- $twTeam = append $twTeam .name }}
    {{- end }}
    {{- if in .departments $csTeamTag }}
        {{- $csTeam = $csTeam | append .name }}
    {{- end }}
    {{- if in .departments $arTeamTag }}
        {{- $arTeam = $arTeam | append .name }}
    {{- end }}
    {{- if in .departments $sreTeamTag }}
        {{- $sreTeam = $sreTeam | append .name }}
    {{- end }}
    {{- if in .departments $legalTeamTag }}
        {{- $legalTeam = $legalTeam | append .name }}
    {{- end }}
{{- end }}

<table style="display: table;">
    {{- with $section_data.slack.channel }}
    <tr>
        <th>Slack Channel</th>
        <td><a href="https://gitlab.slack.com/app_redirect?channel=#{{.}}"><i class="fa-brands fa-slack"></i> {{ . }}</a></td>
    </tr>
    {{- end }}
    {{- with $section_data.slack.alias }}
    <tr>
        <th>Slack Alias</th>
        <td><i class="fa-brands fa-slack"></i> {{.}}</td>
    </tr>
    {{- end }}
    {{- with $section_data.gitlab_group }}
    <tr>
       <th>GitLab Group</th>
       <td><i class="fa-brands fa-gitlab"></i> @{{.}}</td>
    </tr>
    {{- end }}
    {{- with $section_data.handbook }}
    <tr>
        <th>Handbook Page</th>
        {{- $pagePath := replaceRE `/$` "" (printf "/handbook/%s" .) }}
        {{- with page.GetPage $pagePath }}
        <td><a href="{{ .Permalink }}">[<i class="fa fa-book"></i> {{ .Title }}</a></td>
        {{- else }}
        {{/* <td><i class="fa-solid fa-file-circle-exclamation"></i> /handbook/{{.}}<br>(Page Missing)</td> */}}<td><a href="https://aboout.gitlab.com/handbook{{.}}"><i class="fa-solid fa-file-circle-exclamation"></i> {{.}}</a></td>
        {{- end }}
    </tr>
    {{- end -}}
    {{- if gt (len $pmTeam) 0}}
    <tr>
        <th>Product</th>
        <td>
            {{- range $pmTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $devTeam) 0}}
    <tr>
        <th>Development</th>
        <td>{{- range $devTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}</td>
    </tr>
    {{- end }}
    {{- if gt (len $backendManager) 0}}
    <tr>
        <th>Backend Engineering Manager</th>
        <td>{{- range $backendManager -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}</td>
    </tr>
    {{- end }}
    {{- if gt (len $beTeam) 0}}
    <tr>
        <th>Backend Engineering</th>
        <td>{{- range $beTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}</td>
    </tr>
    {{- end }}
    {{- if gt (len $frontendManager) 0}}
    <tr>
        <th>Frontend Engineering Manager</th>
        <td>{{- range $frontendManager -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}</td>
    </tr>
    {{- end }}
    {{- if gt (len $feTeam) 0}}
    <tr>
        <th>Frontend Engineering</th>
        <td>{{- range $feTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}</td>
    </tr>
    {{- end }}
    {{- if gt (len $fullstackManager) 0}}
    <tr>
        <th>Fullstack Engineering Manager</th>
        <td>{{- range $fullstackManager -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}</td>
    </tr>
    {{- end }}
    {{- if gt (len $sreTeam) 0}}
    <tr>
        <th>Site Reliability Engineering</th>
        <td>{{- range $sreTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}</td>
    </tr>
    {{- end }}
    {{- if gt (len $setTeam) 0}}
    <tr>
        <th>Software Engineering</th>
        <td>{{- range $setTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}</td>
    </tr>
    {{- end }}
    {{- if gt (len $pdTeam) 0 }}
    <tr>
        <th>Product Design</th>
        <td>
            {{- range $pdTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $spdTeam) 0 }}
    <tr>
        <th>Staff Product Designer</th>
        <td>
            {{- range $spdTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $uxrTeam) 0 }}
    <tr>
        <th>UX Research</th>
        <td>
            {{- range $uxrTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $uxTeam) 0 }}
    <tr>
        <th>Product Designer</th>
        <td>
            {{- range $uxTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $pmmTeam) 0 }}
    <tr>
        <th>Product Marketing</th>
        <td>
            {{- range $pmmTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if .focus }}
    <tr>
        <th>Focus</th>
        <td>
            {{ .focus }}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $supportTeam) 0 }}
    <tr>
        <th>Support</th>
        <td>
            {{- range $supportTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $qualityTeam) 0 }}
    <tr>
        <th>Quality</th>
        <td>
            {{- range $qualityTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $cmTeam) 0 }}
    <tr>
        <th>Content Marketing</th>
        <td>
            {{- range $cmTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $twTeam) 0 }}
    <tr>
        <th>Technical Writing</th>
        <td>
            {{- range $twTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $appsecEngineer) 0 }}
    <tr>
        <th>Application Security Engineer</th>
        <td>
            {{- range $appsecEngineer -}}{{ partial "member-by-name" . -}}&nbsp;{{- end }}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $infrasecEngineer) 0 }}
    <tr>
        <th>Infrastructure Security Engineer</th>
        <td>
            {{- range $infrasecEngineer -}}{{ partial "member-by-name" . -}}&nbsp;{{- end }}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $csTeam) 0 }}
    <tr>
        <th>Customer Success</th>
        <td>
            {{- range $csTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end }}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $arTeam) 0 }}
    <tr>
        <th>Analyst Relations</th>
        <td>
            {{- range $arTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $remTeam) 0 }}
    <tr>
        <th>Infrastructure Manager</th>
        <td>
            {{- range $remTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $sponsorTeam) 0 }}
    <tr>
        <th>Product Sponsor</th>
        <td>
            {{- range $sponsorTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- if gt (len $legalTeam) 0 }}
    <tr>
        <th>Legal & Corporate Affairs</th>
        <td>
            {{- range $arTeam -}}{{ partial "member-by-name" . -}}&nbsp;{{- end -}}
        </td>
    </tr>
    {{- end }}
    {{- with .internal_customers }}
    {{- if gt (len .) 0 }}
    <tr>
        <th>Internal Customers</th>
        <td>{{- range . }}
            <div style="display: table; min-width: 40%">
                <div style="display: table-cell; width: 40%"><strong>{{ .department }}:</strong></div>
                <div style="display: table-cell; width: 40%">{{ partial "member-by-name" .dri -}}</div>
            </div>
            {{- end }}
        </td>
    </tr>
    {{- end }}
    {{- end }}
    {{- if .group }}
    <tr>
        <th>Features in this Group</th>
        {{- $pageRef := printf "/handbook/product/categories/features#%s" (anchorize .display_name) -}}
        <td><a href="{{$pageRef}}"><i class="fa fa-book"></i> Features</a></td>
    </tr>
    {{- end }}
</table>
