---
layout: markdown_page
title: "Category Health"
description: "Product category scorecards"
extra_css:
  - category-health.css
---
This page aims to surface a multi-dimensional view of product by collecting the various facets that contribute to category health for ongoing review and improvement. Visit [maturity](/direction/maturity/) to see our framework for categories, application types, and stages that considers adoption and user experience.

_Note: [How this data is aggregated, and instructions on what fields required updated are below.](#how-this-works)_

<% data.sections.each do |sectionKey, section| %>

---

## <%= section.name %>

    <% data.stages.stages.select{|stageKey,stage| stage.section==sectionKey}.each do |stageKey, stage| %>

### <%= stage.display_name %>

| Group | Category | Direction | Investment Plan | GMAU | Paid GMAU | Analyst Reports | Competitive Comparison | Current Maturity | Planned Maturity | UX Scorecard | Usability Issues | Dogfooding? | Works by default? | Auto DevOps | Capacity | Velocity | Top Issues | Docs |
|-------|----------|-----------|-----------------|------|-----------|-----------------|------------------------|------------------|------------------|--------------|------------------|-------------|-------------------|-------------|----------|----------|------------|------|
        <% stage.groups.each do |groupKey, group| %>
            <% if group.categories %>
                <% group.categories.each do |categoryKey| %>
                    <% category = data.categories[categoryKey] %>
                        <% categoryRow = [] %>
                        <% categoryRow << "**#{group.name}**" %>
                        <% categoryRow << "#{category.name}<a name=\"#{category.name}\" class=\"scroll-anchor\"></a>" %>
                        <% categoryRow << "[Direction](#{category.direction})" %>
                        <% categoryRow << "[Investment Plan](/handbook/product/investment/##{group.name})" %>
                        <% categoryRow << ( group.pi_gmau? ? "[GMAU](#{group.pi_gmau})" : '' ) %>
                        <% categoryRow << ( group.pi_pgmau? ? "[Paid GMAU](#{group.pi_pgmau})" : '' ) %>
                        <% categoryRow << ( group.analyst_reports? ? "[Analyst Reports](#{group.analyst_reports})" : '' ) %>
                        <% categoryRow << ( group.comp_comparison? ? "[Competitive Comparison](#{group.comp_comparison})" : '' ) %>
                        <% categoryRow << ( category.maturity? ? category.maturity.capitalize : '' ) %>
                        <% plannedMaturity = "" %>
                        <% if category.maturity %>
                            <% if category.maturity == "minimal" %>
                                <% plannedMaturity = ( "Viable on #{category.viable}" + ( category.viable < Date.today ? " _(late)_" : '') ) if category.viable %>
                            <% elsif category.maturity == "viable" %>
                                <% plannedMaturity = ( "Complete on #{category.complete}" + ( category.complete < Date.today ? " _(late)_" : '') ) if category.complete %>
                            <% elsif category.maturity == "complete" %>
                                <% plannedMaturity = ( "Lovable on #{category.lovable}" + ( category.lovable < Date.today ? " _(late)_" : '') ) if category.lovable %>
                            <% end %>
                        <% end %>
                        <% categoryRow << plannedMaturity %>
                        <% categoryRow << ( category.ux_scorecard_link? ? "[UX Scorecard" + ( category.ux_scorecard_score? ? ": #{category.ux_scorecard_score}" : '' ) + "](#{category.ux_scorecard_link})" : '' ) %>
                        <% categoryRow << ( category.label? ? "[Usability Issues](https://gitlab.com/gitlab-org/gitlab/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=usability&label_name[]=#{category.label})" : '' ) %>
                        <% categoryRow << ( category.dogfooding_issue? ? "[Dogfooding" + ( category.dogfooding_status? ? ": #{category.dogfooding_status.capitalize}" : '') + "](#{category.dogfooding_issue})" : '') %>
                        <% categoryRow << "[Works by default](/handbook/product/works-by-default/##{group.name})" %>
                        <% categoryRow << '' %>
                        <% categoryRow << group_engineering_total_summary(group: group) %>
                        <% categoryRow << '' %>
                        <% categoryRow << ( category.label? ? "[Top Issues](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=customer&label_name[]=#{category.label})" : '' ) %>
                        <% categoryRow << ( category.documentation? ? "[Documentation](#{category.documentation})" : '' )%>
<%= "| " + categoryRow.join(' | ') + " |" %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>

---

## How this works

This data is gathered primarily from the `categories.yml` and `stages.yml` files. This table shows where each field comes from, indicating what needs to be added and where:

| Field                     | File                                                                                                  | Property                                          | Notes                                                                                 |
|---------------------------|-------------------------------------------------------------------------------------------------------|---------------------------------------------------|---------------------------------------------------------------------------------------|
| Group                     | [`stages.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/stages.yml)            | `name`                                            |                                                                                       |
| Category                  | [`categories.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/categories.yml)    | `name`                                            |                                                                                       |
| Direction                 | [`categories.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/categories.yml)    | `direction`                                       |                                                                                       |
| Investment Plan           | _none_                                                                                                | _n/a_                                             | _Links to `/handbook/product/investment`, with anchor based on group name_           |
| GMAU                      | [`stages.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/stages.yml)            | `pi_gmau`                                         | _Expected to be a link_                                                               |
| Paid GMAU                 | [`stages.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/stages.yml)            | `pi_pgmau`                                        | _Expected to be a link_                                                               |
| Analyst Reports           | [`stages.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/stages.yml)            | `analyst_reports`                                 | _Expected to be a list of `title` and `url`_                                                               |
| Competitive Comparison    | [`stages.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/stages.yml)            | `comp_comparison`                                 | _Expected to be a link_                                                               |
| Current Maturity          | [`categories.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/categories.yml)    | `maturity`                                        |                                                                                       |
| Planned Maturity          | [`categories.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/categories.yml)    | `available` / `viable` / `complete` / `lovable`   |                                                                                       |
| UX Scorecard              | [`categories.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/categories.yml)    | `ux_scorecard_link` & `ux_scorecard_score`        | _Link should be a link, Score should be a letter grade_                               |
| Usability Issues          | [`categories.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/categories.yml)    | `label`                                           | _Links to issue search based on label_                                                |
| Dogfooding?               | [`categories.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/categories.yml)    | `dogfooding_issue` & `dogfooding_status`          | _Issue should be a link, Status should be a text value_                               |
| Works by default?         | _none_                                                                                                | _n/a_                                             | _Links to `/handbook/product/works-by-default`, with anchor based on group name_      |
| Auto DevOps               | _unimplemented_                                                                                       |                                                   | _Not currently implemented, nothing to link to curently_                              |
| Capacity                  | [`stages.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/stages.yml)            | `be_team_tag` / `fe_team_tag` / `fs_team_tag`     |                                                                                       |
| Velocity                  | _unimplemented_                                                                                       |                                                   | _Not currently implemented._                                                          |
| Top Issues                | [`categories.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/categories.yml)    |                                                   | _Links to issue search based on label_                                                |
| Docs                      | [`categories.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/categories.yml)    | `documentation`                                   |                                                                                       |
