---
layout: handbook-page-toc
title: "Data Team"
description: "The GitLab Data Team is responsible for building and operating data and analytics infrastructure to help power decision making across GitLab."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<link rel="stylesheet" type="text/css" href="/stylesheets/biztech.css" />

## <i class="fas fa-stream" id="biz-tech-icons"></i> Welcome to the Data Team Handbook

Hello and welcome to the Data Team Handbook! We have a large amount of information available and to help you navigate the space, we've organized it into four major sections:

<div class="flex-row" markdown="0" style="height:110px;">
  <a href="/handbook/business-technology/data-team/data-catalog/" class="btn btn-purple" style="width:250px;margin:5px;display:flex;align-items:center;height:100%;">Dashboards and Data You Can Use</a>
  <a href="/handbook/business-technology/data-team/how-we-work/" class="btn btn-purple" style="width:250px;margin:5px;display:flex;align-items:center;height:100%;">How We Work</a>
  <a href="/handbook/business-technology/data-team/how-we-work/" class="btn btn-purple" style="width:250px;margin:5px;display:flex;align-items:center;height:100%;">How Our Data Platform Works</a>
  <a href="/handbook/business-technology/data-team/direction/" class="btn btn-purple" style="width:250px;margin:5px;display:flex;align-items:center;height:100%;">What We're Working On</a>
</div>

## Mission

_Deliver Results That Matter With Trusted and Scalable Data Solutions_

The Data Team helps GitLab (the company) continually improve its ability to make decisions:
- by providing an [Enterprise Data Platform](/handbook/business-technology/data-team/platform/#our-data-stack) to power decision making
- by helping teams improve their data capabilities through training, consultation, support, and development of [Self-Service](/handbook/business-technology/data-team/direction/self-service/) capabilities
- by building an [Enterprise Dimensional Model](/handbook/business-technology/data-team/platform/edw/) to support critical analysis and decision making for GTM, R&D, and G&A teams
- by promoting data and analytics best-practices and continually developing GitLab's data acumen

## How Data Works at GitLab

The GitLab Data Program is organized in a hub-and-spoke model, with the central Data Team in Business Technology serving as the "Hub" and Center of Excellence for analytics technology, operations, and infrastructure. The "Spokes" represent each Department's "specialist" data team, such as Business Insights, Sales Analysis, Marketing Analysis, and Engineering Analysis. Because some GitLab Departments do not yet have data specialists, the central Data Team can provide limited development support. From the Spoke perspective, the central Data Team provides reliable data infrastructure, technical expertise, and high-level subject matter expertise. 

```mermaid
graph TD
    A[FP&A Business Insights] --> C
    B[Marketing Analytics] --> C
    D[Sales Analytics] --> C
    E[Product Analytics] --> C
    F[Engineering Analytics] --> C
    G[People Analytics] --> C
C{Data Team}
```

### (Central) Data Team

The central **Data Team** reports into Business Technology and is responsible for analytics strategy, building business-wide data models, providing self-service data capabilities, maintaining the data warehouse and data accuracy.  The Data Team is responsible for data that is defined and accessed on a regular basis by GitLab team members. The Data Team builds data infrastructure to power approximately 80% of the data that is accessed on a regular basis.
 
### Analytics and Business Insights

The **Analytics and Business Insights** team reports into FP&A and provides a broad view of performance across the business. Business Insights primarily work on company-wide strategic analysis and data that spans various departments – sales, marketing, product, engineering, people, and finance. To the extent this analysis leads to insights that should be produced on a regular basis, Business Insights will work with the Data team to create a self-service dashboard.  The distinction between Business Insights and the Data Team is deep dive analysis that currently doesn’t have a dashboard to drive deeper business insights with data that resides in multiple areas.

### Functional Analyst Teams

**Sales, Marketing, Product, and Engineering Analysts**, or “Function Analysts” reside in their respective functions. These analysts perform specific analysis for data that is within the function. These analysts will build dashboards based on the centralized trusted data model for regular analysis, and will also build function-specific/ad-hoc data models to solve pressing needs. Function analysts work closely with both the Business Insights and Data Team. Function analyst team members provide requirements for new trusted data dashboards, validate metrics, and help drive prioritization of work asked of the Data Team. When data gaps are found in our business processes and source systems, the team members will provide requirements to product management, sales ops and marketing ops to ensure the source systems capture the correct data.

## <i class="fas fa-bullhorn fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>Connect With Us

<div class="flex-row" markdown="0" style="height:80px">
  <a href="https://gitlab.slack.com/messages/data/" class="btn btn-purple" style="width:30%;height:100%;margin:1px;display:flex;justify-content:center;align-items:center;">#Data Slack Channel</a>
  <a href="https://gitlab.com/gitlab-data/analytics/-/issues" class="btn btn-purple" style="width:30%;height:100%;margin:1px;display:flex;justify-content:center;align-items:center;">Issue tracker</a>
  <a href="https://www.youtube.com/playlist?list=PL05JrBw4t0KrRVTZY33WEHv8SjlA_-keI" class="btn btn-purple" style="width:30%;height:100%;margin:1px;display:flex;justify-content:center;align-items:center;">GitLab Unfiltered Data Team Playlist</a>
  <a href="https://www.worldtimebuddy.com/?pl=1&lid=2950159,6173331,4487042,4644585&h=2950159" class="btn btn-purple" style="width:30%;height:100%;margin:1px;display:flex;justify-content:center;align-items:center;">What time is it for folks on the data team?</a>
</div>
<br>

### Slack

The Data Team primarily uses these channels on Slack:

- [#data](https://gitlab.slack.com/messages/data/) is the primary channel for all of GitLab's data and analysis conversations. This is where folks from other teams can link to their issues, ask for help, direction, and get general feedback from members of the Data Team.
- [#data-daily](https://gitlab.slack.com/messages/data-daily/) is where the Data Team tracks day-to-day productivity, blockers, and fun. Powered by [Geekbot](https://geekbot.com/), it's our asynchronous version of a daily stand-up, and helps keep everyone on the Data Team aligned and informed.
- [#data-lounge](https://gitlab.slack.com/messages/data-lounge/) is for links to interesting articles, podcasts, blog posts, etc. A good space for casual data conversations that don't necessarily relate to GitLab. Also used for intrateam discussion for the Data Team.
- [#data-engineering](https://gitlab.slack.com/messages/data-engineering/) is where the GitLab Data Engineering team collaborates.
- [#business-technology](https://gitlab.slack.com/messages/business-technology/) is where the Data Team coordinates with Business Technology in order to support scaling, and where all Business Technology-related conversations occur.
- [#analytics-pipelines](https://gitlab.slack.com/messages/analytics-pipelines/) is where slack logs for the ELT pipelines are output and is for data engineers to maintain.  The DRI for tracking and triaging issues from this channel is shown [here](/handbook/business-technology/data-team/platform/infrastructure/#data-infrastructure-monitoring-schedule)
- [#dbt-runs](https://gitlab.slack.com/messages/dbt-runs/), like #analytics-pipelines, is where slack logs for [dbt](https://www.getdbt.com/) runs are output. The Data Team tracks these logs and triages accordingly.
- [#data-triage](https://gitlab.slack.com/messages/data-triage/) is an activity feed of opened and closed issues and MR in the data team project.
- [#data-decisive-data-projects](https://gitlab.slack.com/messages/data-decisive-data-projects/) is where we discuss major data development projects, including our trusted data enterprise dimensional model.

You can also tag subsets of the Data Team using:

- @datateam - this notifies the entire Data Team
- @data-engineers - this notifies just the Data Engineers
- @data-analysts - this notifies just the Data Analysts

Except for rare cases, conversations with folks from other teams should take place in #data, and possibly the fusion team channels when appropriate.  Posts to other channels that go against this guidance should be responded to with a redirection to the #data channel, and a link to this handbook section to make it clear what the different channels are for.

### GitLab Groups and Projects

The Data Team primarily uses these groups and projects on GitLab:

- [GitLab Data](https://gitlab.com/gitlab-data) is the main group for the GitLab Data Team.
- [GitLab Data Team](https://gitlab.com/gitlab-data/analytics) is the primary project for the GitLab Data Team.

You can tag the Data Team in GitLab using:

- @gitlab-data  - this notifies the entire Data Team
- @gitlab-data/engineers  - this notifies just the Data Engineers
- @gitlab-data/analysts - this notifies just the Data Analysts

### Team, Operations, and Technical Guides

|  **TECH GUIDES** | **INFRASTRUCTURE** | **DATA TEAM** |
| :--------------- | :----------------- | :-------------- |
| [SQL Style Guide](/handbook/business-technology/data-team/platform/sql-style-guide/) | [High Level Diagram](/handbook/business-technology/data-team/platform/#our-data-stack/) | [How We Work](/handbook/business-technology/data-team/how-we-work/) 
| [dbt Guide](/handbook/business-technology/data-team/platform/dbt-guide/) | [System Data Flows](/handbook/business-technology/data-team/platform/infrastructure/#system-diagram/) | [Team Organization](/handbook/business-technology/data-team/organization) 
| [Python Guide](/handbook/business-technology/data-team/platform/python-guide/) | [Data Sources](/handbook/business-technology/data-team/platform/#extract-and-load/)| [Calendar](/handbook/business-technology/data-team/how-we-work/calendar/) 
| [Airflow & Kubernetes](/handbook/business-technology/data-team/platform/infrastructure/#common-airflow-and-kubernetes-tasks/) | [Snowplow](/handbook/business-technology/data-team/platform/snowplow/)  | [Triage](/handbook/business-technology/data-team/how-we-work/duties/#data-triage) 
| [Docker](/handbook/business-technology/data-team/platform/infrastructure/#docker) | [Permifrost](/handbook/business-technology/data-team/platform/permifrost) | [Merge Requests](/handbook/business-technology/data-team/how-we-work/duties/#merge-request-roles-and-responsibilities/) 
| [Data CI Jobs](/handbook/business-technology/data-team/platform/ci-jobs) | [DataSiren](/handbook/business-technology/data-team/platform/#datasiren/) | [Planning Drumbeat](/handbook/business-technology/data-team/planning/) 
| [SiSense Style Guide](/handbook/business-technology/data-team/platform/sisense-style-guide/) | [Trusted Data](/handbook/business-technology/data-team/platform/#tdf)
| [Learning Library](/handbook/business-technology/data-team/learning-library/)

### Data Team Handbook Navigation

- [Data Team Organization](/handbook/business-technology/data-team/organization)
- [How We Work](/handbook/business-technology/data-team/how-we-work)
    - [Calendar](/handbook/business-technology/data-team/how-we-work/calendar)
    - [Team Duties](/handbook/business-technology/data-team/how-we-work/duties)
    - [Data Analytics Team](/handbook/business-technology/data-team/organization/analytics/)
    - [Data Engineering Team](/handbook/business-technology/data-team/organization/engineering)
- [Data Platform](/handbook/business-technology/data-team/platform)
    - [Sisense (Periscope)](/handbook/business-technology/data-team/platform/periscope)
    - [dbt Guide](/handbook/business-technology/data-team/platform/dbt-guide)
    - [Enterprise Data Warehouse](/handbook/business-technology/data-team/platform/edw)
    - [Data Infrastructure](/handbook/business-technology/data-team/platform/infrastructure)
    - [SQL Style Guide](/handbook/business-technology/data-team/platform/sql-style-guide)
    - [Python Guide](/handbook/business-technology/data-team/platform/python-guide)
    - [Permifrost](/handbook/business-technology/data-team/platform/permifrost)
    - [Snowplow](/handbook/business-technology/data-team/platform/snowplow)
    - [Data CI Jobs](/handbook/business-technology/data-team/platform/ci-jobs)
    - [Sisense Style Guide](/handbook/business-technology/data-team/platform/sisense-style-guide)
- Data Programs
    - [Data for Finance](/handbook/business-technology/data-team/programs/data-for-finance)
    - [Data for Product Managers](/handbook/business-technology/data-team/programs/data-for-product-managers)
    - [Data Champion](/handbook/business-technology/data-team/direction/data-champion/)
    - [Data Catalog](/handbook/business-technology/data-team/data-catalog)
- [Data Quality](/handbook/business-technology/data-team/data-quality)
    - [Trusted Data Framework](/handbook/business-technology/data-team/platform/dbt-guide/#trusted-data-framework)
- [Data Quality Process](/handbook/business-technology/data-team/data-quality-process)
- [Data Team Principles](/handbook/business-technology/data-team/principles)
- [Data Service](/handbook/business-technology/data-team/data-service)
- [Data Handbook Documentation](/handbook/business-technology/data-team/documentation)
- [Data Learning and Resources](/handbook/business-technology/data-team/learning-library)

