<% data.team.each do | slug| %>
<% slug.departments.each do | department| %>
<% next unless (department == "Board") %>
<table>
<% member_avatar = "<img src =/images/team/" + slug.picture + "> " %>
<tr>
<td width = 300> <%= member_avatar.html_safe %> </td>
<td><%= slug.name %><br><%= slug.story.to_s %><br></td>
</tr>
</table>
<% end %>
<% end %>