{{ $investment := partial "investment/data" . }}
{{ $current := newScratch }}

{{/*  <style>
  tr.stage-row td.total,
  tr.group-row td.total {
    font-weight: bold;
  }

  tr.stage-row td:first-child {
    font-weight: bold;
    background-color: #e3e3e3
  }
</style>  */}}
<table>
  <thead>
    <tr>
      {{ partial "partials/investment/header-row" "Stage:Group" }}
    </tr>
  </thead>
  <tbody>
    {{ range $stage_key, $stage := $investment.stages }}
      {{ $current.SetInMap "totals" "total_score" $investment.combined_score }}
      {{ $current.SetInMap "totals" "total_headcount" $investment.total_headcount }}
      {{ if $.Get "stages" }}
      <tr {{ if $.Get "groups" }}class="table-active"{{ end }}>
        {{- $current.Set "row" $stage -}}
        
        <th class="table-active">{{ $stage.display_name }}</th>
        {{- partial "partials/investment/row" $current.Values -}}
        {{ $current.SetInMap "totals" "total_score" $stage.total_score }}
        {{ $current.SetInMap "totals" "total_headcount" $stage.total_headcount }}
      </tr>
      {{ else }}
      {{ $current.SetInMap "totals" "total_score" $investment.total_score }}
      {{ end }}
      {{ if $.Get "groups" }}
      {{ range $group_key, $group := $stage.groups }}
        <tr>
          {{- $current.Set "row" $group -}}
          <td class="table-active">{{ $group.display_name }}</td>
          {{- partial "partials/investment/row" $current.Values -}}
        </tr>
      {{ end }}
      {{ end }}
    {{ end }}
  </tbody>
</table>

{{ define "partials/investment/row" }}
  {{ $fraction_of_score := 0 }}
  {{ $fraction_of_headcount := 0 }}

  {{ if and .row.combined_score .totals.total_score }}
  {{ $fraction_of_score = div .row.combined_score .totals.total_score }}
  {{ end }}
  {{ if and .row.total_headcount .totals.total_headcount }}
  {{ $fraction_of_headcount = div .row.total_headcount .totals.total_headcount }}
  {{ end }}

  <td>{{ .row.revenue_driver_score }}</td>
  <td>{{ .row.usage_driver_score }}</td>
  <td>{{ .row.sam_driver_score }}</td>
  <td class="table-active">{{ .row.combined_score }}</td>
  <td>{{ $fraction_of_score | mul 100 | lang.FormatPercent 2 }}</td>
  <td class="table-active">{{ .row.total_headcount }}</td>
  <td>{{ $fraction_of_headcount | mul 100 | lang.FormatPercent 2 }}</td>
  <td class="table-active">
    {{ if $fraction_of_score }}
    {{ $delta := (sub $fraction_of_headcount $fraction_of_score) | mul 100 }}
    {{ partial "partials/investment/delta-cell" $delta }}
    {{ end }}
  </td>
{{ end }}

{{ define "partials/investment/header-row" }}
  {{ $weights := site.Data.investment_weights }}
  <th>{{ . }}</th>
  <th>Revenue <sup>(x{{ $weights.revenue_driver_score }})</sup></th>
  <th>Usage <sup>(x{{ $weights.usage_driver_score }})</sup></th>
  <th>SAM <sup>(x{{ $weights.sam_driver_score }})</sup></th>
  <th colspan="2">Total Score</th>
  <th colspan="2">Headcount</th>
  <th>Delta</th>
{{ end }}

{{ define "partials/investment/delta-cell" }}
  {{ if lt 0 . }}+{{ end }}{{ . | lang.FormatPercent 2 }}
{{ end }}
