---
layout: markdown_page
title: "Hiring Chart by Org Structure"
canonical_path: "/handbook/hiring/charts/"
suppress_header: true
---

<h2><%= department %> Hiring</h2>

<%= hiring_chart(department: department) %>

<%= location_factor_chart(department: department) %>
