| **[Sec. Engineering](https://internal-handbook.gitlab.io/handbook/engineering/security/security-engineering)** | **[Sec. Operations](https://internal-handbook.gitlab.io/handbook/engineering/security/security-operations)** | **[Sec. Threat Management](https://internal-handbook.gitlab.io/handbook/engineering/security/security-threat-management)** | **[Sec. Assurance](https://internal-handbook.gitlab.io/handbook/engineering/security/security-assurance)** |
|---|---|---|---|
| [GitLab SAST](https://about.gitlab.com/direction/secure/static-analysis/sast/) (Vuln Scan) | [GitLab Secrets Detection](https://about.gitlab.com/direction/secure/static-analysis/secret-detection/) | [Tenable.io](https://www.tenable.com/products/tenable-io) (external vuln scan) | [ZenGRC](https://reciprocity.com/product/zengrc-platform/) (GRC) |
| [GitLab DAST](https://about.gitlab.com/handbook/engineering/development/sec/secure/dynamic-analysis/) (Vuln Scan) | [Panther](https://panther.com/) (SIEM) | [Censys](https://censys.io/) (attack surface) | [Authomize](https://www.authomize.com/) (UAR) |
| [Trivy](https://www.aquasec.com/products/trivy/) (Vuln Scan) | [Tines](https://www.tines.com/) (SOAR) | [Cartography](https://github.com/lyft/cartography) (observability) | [Anecdotes](https://www.anecdotes.ai/) |
| [Anchore](https://anchore.com/) (Container, DoD) | [OpenCTI](https://www.opencti.io/en/) (Threat Intel) | [Spiderfoot](https://www.spiderfoot.net/) (osint) | [Proofpoint](https://www.proofpoint.com/us/products/security-awareness-training) (PSAT)  |
| [Twistlock](https://orca.security/resource/video/twistlock-container-security/) (Container, DoD) | [SentinelOne](https://www.sentinelone.com/) (EDR) |  | [OneTrust Vendorpedia](https://www.onetrust.com/) |
| [BurpSuite](https://portswigger.net/burp) (App Testing) | [BigQuery](https://cloud.google.com/bigquery) (Logging) |  | [BitSight](https://www.bitsight.com/) (3rd party security rating) |
| [OSQuery](https://osquery.io/) | [SCC Premium](https://cloud.google.com/security-command-center) |  |  |
| [Cartography](https://github.com/lyft/cartography) (observability) | [SpamCheck](https://about.gitlab.com/handbook/support/workflows/managing_spam.html) |  |  |
| [Cloudflare WAF](https://www.cloudflare.com/waf/) (web-app fw) | _Bouncer_ (internal tool for abuse) |  |  |
| [HackerOne](https://hackerone.com/gitlab?type=team) (Bug Bounty) |  |  |  |
| [Terraform](https://www.terraform.io/) (Infra env build) |  |  | |
| [Elastic Search](https://www.elastic.co/) (Logging) |  |  |  |
| [Postman](https://www.postman.com/product/tools/) (API testing) |  |  |  |
| [Tenable.io](https://www.tenable.com/products/tenable-io) (Vuln Scan) |  |  |  |
| [Teleport](https://goteleport.com/) (Live Access Man) |  |  |  |
| [Cyderes/Google Chronicle](https://go.chronicle.security/hubfs/Cyderes%20CNAP_Chronicle-Joint%20Solution%20Brief.pdf) (Cloud Analytics) |  |  |  |
| [AWS platform tools](https://aws.amazon.com/products/developer-tools/) |  |  |  |
| [GCP Platform tools](https://cloud.google.com/products/tools) |  |  |  |
| [Package Hunter](https://gitlab.com/gitlab-org/security-products/package-hunter) (Dependency Vuln Detection) |  |  |  |
| [SCC Premium](https://cloud.google.com/security-command-center) (GCP Sec Tools) |  |  |  |
