(<a href="https://app.periscopedata.com/app/gitlab/1140287/Pipeline-Authoring---CI-Catalog-Usage?widget=17402081&udv=0" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/ops/project-plans/partials/_ci_catalog_beta_progress_dashboard.erb" %>