---
layout: handbook-page-toc
title: Product Legal Guide
---
## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Legal Overview

Below you'll find Legal guidance for the product managers to further clarify and expand on the [Regulation FD Training[(https://gitlab.edcast.com/pathways/ECL-22b23314-fc04-4728-9ae6-a363d3a39c54)].   

###  Required Legal Reviews



###  Required Disclarmiers

| Stage | Description | DRI | Support Teams |
| ----- | ----------- | --- | ------------- |
| Privacy Settings | The implementation of our Privacy Policy including data classification, data access, and user settings to control what data is shared with GitLab. | Product Intelligence | Legal, Data |
| Collection | <span class="colour" style="color:rgb(0, 0, 0)">The data collection tools used across all GitLab applications including GitLab SaaS, GitLab self-managed, CustomerDot, LicenseDot, VersionDot, and </span><span class="colour" style="color:rgb(17, 85, 204)"><u>[about.gitlab.com](http://about.gitlab.com/)</u></span><span class="colour" style="color:rgb(0, 0, 0)">. Our current tooling includes Snowplow, Usage Ping, and Google Analytics.</span> | Product Intelligence | Infrastructure |
| Extraction | The data extraction tools used to extract data from Product, Infrastructure, Enterprise Apps data sources. Our current tooling includes Stitch, Fivetran, and Custom. | Data |  |
| Loading | The data loading tools used to extract data from Product, Infrastructure, Enterprise Apps data sources and to load them into our data warehouse. Our current tooling includes Stitch, Fivetran, and Custom. | Data |  |
| Orchestration | The orchestration of extraction and loading tooling to move data from sources into the Enterprise Data Warehouse. Our current tooling includes Airflow. | Data |  |
| Storage | The Enterprise Data Warehouse (EDW) which is the single source of truth for GitLab's corporate data, performance analytics, and enterprise-wide data such as Key Performance Indicators. Our current EDW is built on Snowflake. | Data |  |
| Transformation | The transformation and modelling of data in the Enterprise Data Warehouse in preparation for data analysis. Our current tooling is dbt and Python scripts. | Data | Product Intelligence |
| Analysis | The analysis of data in the Enterprsie Data Warehouse using a querying and visualization tool. Our current tooling is Sisense. | Data | Product Intelligence |

### General guidance

|Topic | Legal Considerations| Required Reviews | Recommended Considerations|
|Acquisitions | |  | |
|Pricing Changes | | |  | |
|New products (e.g GL Private)| | |  | |
|New products (e.g GL Private)| | |  | |
|New products (e.g GL Private)| | |  | |


User confidentiality topics
What artifacts/actions can be published, but with a disclaimer
What artifacts/actions can be published with no disclaimer
3 year direction video
Direction pages
Monthly Direction video
Epics
Issues
MRs

### Helpful Legal References

