---
layout: handbook-page-toc
title: "Sec & Enablement Quality Engineering team"
description: "Quality Engineering team for the Sec & Enablement Sections"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Common Links

| **GitLab Team Handle** | [`@gl-quality/enablement-qe`](https://gitlab.com/gl-quality/enablement-qe) |
| **Slack Channel** | [#g_qe_enablement_secure](https://gitlab.slack.com/archives/CTP7N0PM4) |
| **Team Boards** | [Team Board](https://gitlab.com/groups/gitlab-org/-/boards/978354) |
| **Issue Tracker** | [quality/team-tasks](https://gitlab.com/gitlab-org/quality/team-tasks/issues/) |

Engineers in this team are embedded in the [Sec section] and [Enablement section].

## Team members

<%= direct_team(manager_role: 'Quality Engineering Manager, Fulfillment, Growth, Sec & Acting Quality Engineering Manager, Enablement', role_regexp: /(Enablement|Secure)/) %>

## Areas of Responsibility

All stages under the [Sec section] and [Enablement section].
* **[Secure stage]**: Security capabilities, integrated into the development lifecycle.
  * [Static Analysis group] : SAST, Secret Detection
  * [Dynamic Analysis group] : DAST, IAST, Fuzzing
  * [Composition Analysis group] : Container Scanning, Dependency Scanning, License Compliance, Vulnerability Database
* **[Protect stage]**
  * [Container Security group] : Security Orchestration, Container Network Security, Container Host Security, Container Scanning
* **[Enablement stage]**: An emphasis on the stability and performance of on-premise GitLab installations.
  * [Distribution group] : Omnibus, Cloud Native Installation
  * [Ecosystem group] : SDKs & Integration APIs, Native Integrations, Marketplace
  * [Geo group] : Geo-replication, Disaster Recovery
  * [Memory group]
  * [Search group]

## OKRs 

### Current quarter

<iframe src="https://app.ally.io/public/7W1KkROYCD0mg1z" class="dashboard-embed" height="900" width="100%" style="border:none;"> </iframe>

## Quality Performance Indicators for Sec Section

(<a href="https://app.periscopedata.com/app/gitlab/736012/Quality-Embedded-Dashboard" target="_blank">Sisense↗</a>)
<embed width="100%" height="550" src="<%= signed_periscope_url({ dashboard: 736012, embed: 'v2', filters: [{name: 'Development_Section' , value: 'sec' }]}) %>">

## Quality Performance Indicators for Enablement Section

(<a href="https://app.periscopedata.com/app/gitlab/736012/Quality-Embedded-Dashboard" target="_blank">Sisense↗</a>)
<embed width="100%" height="550" src="<%= signed_periscope_url({ dashboard: 736012, embed: 'v2', filters: [{name: 'Development_Section' , value: 'enablement' }]}) %>">

## Projects

* [GitLab Performance Tool]
* [Performance Environment Builder]
* [Performance Test Data]
* [Performance Docker Images]

## Self-Managed Environment Triage

There is a bi-weekly self-managed environment triage meeting involving various
team members from the Enablement section, Support, Customer Success, and
Technical Writing, which focuses on the following:
* Triaging customers and prospects that are setting up new environments or migrating existing environments in line with our reference architectures.
* Additions to or refinements of the reference architecture specs and documentation.

For more information, please see the [Self-Managed Environment Triage board] and
the [Self-Managed Environment Triage agenda] (internal only). To be added to the
meetings, please reach out to the Quality Engineering Manager, Enablement.

[Sec section]: /handbook/product/categories/#sec-section
[Secure stage]: /handbook/product/categories/#secure-stage
[Static Analysis group]: /handbook/product/categories/#static-analysis-group
[Dynamic Analysis group]: /handbook/product/categories/#dynamic-analysis-group
[Composition Analysis group]: /handbook/product/categories/#composition-analysis-group
[Protect stage]: /handbook/product/categories/#protect-stage
[Container Security group]: /handbook/product/categories/#container-security-group
[Enablement section]: /handbook/product/categories/#enablement-section
[Enablement stage]: /handbook/product/categories/#enablement-stage
[Distribution group]: /handbook/product/categories/#distribution-group
[Ecosystem group]: /handbook/product/categories/#ecosystem-group
[Geo group]: /handbook/product/categories/#geo-group
[Memory group]: /handbook/product/categories/#memory-group
[Search group]: /handbook/product/categories/#search-group
[GitLab Performance Tool]: https://gitlab.com/gitlab-org/quality/performance
[Performance Environment Builder]: https://gitlab.com/gitlab-org/quality/performance-environment-builder
[Performance Test Data]: https://gitlab.com/gitlab-org/quality/performance-data
[Performance Docker Images]: https://gitlab.com/gitlab-org/quality/performance-images
[Self-Managed Environment Triage board]: https://gitlab.com/groups/gitlab-org/-/boards/1131633
[Self-Managed Environment Triage agenda]: https://docs.google.com/document/d/1FpXtHlIEKNuTCooUn5MxlMvkNvml5UWeBNRHCcDfMrA/edit
