---
layout: handbook-page-toc
title: "Dev Quality Engineering team"
description: "Quality Engineering team for the Dev Section"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Team Handles

| **GitLab Team Handle** | [`@gl-quality/dev-qe`](https://gitlab.com/gl-quality/dev-qe) |
| **Slack Channel** | [#g_qe_dev](https://gitlab.slack.com/archives/CU90UDHC6) |
| **Slack Handle** | `@dev-qe-team`
| **Team Boards** | [Team Board](https://gitlab.com/groups/gitlab-org/-/boards/425899) |
| **Issue Tracker** | [quality/team-tasks](https://gitlab.com/gitlab-org/quality/team-tasks/issues/) |

Engineers in this Sub-Department are embedded in the [Dev section]
## Current OKR 

<iframe src="https://app.ally.io/public/ToDXbCI5WIIIGoa" class="dashboard-embed" height="900" width="100%" style="border:none;"> </iframe>

## Team Members

Quality Engineering Manager: [Ramya Authappan]

| S.No 	| Stage     	| Group                    	| SET Counterpart                                                        	|
|------	|-----------	|--------------------------	|------------------------------------------------------------------------	|
| 1    	| Create    	| [Source Code]            	| [Mark Lapierre]                                                        	|
| 2    	| Create    	| [Code Review]            	| [Tomislav Nikić]                                                       	|
| 3    	| Create    	| [Editor]                 	| [Anastasia McDonald]                                                   	|
| 4    	| Create    	| [Gitaly]                 	| [John McDonnell]                                                       	|
| 5    	| Manage    	| [Access]                 	| [Sanad Liaquat]                                                        	|
| 6    	| Manage    	| [Workspace]              	| TBH                                                                    	|
| 7    	| Manage    	| [Compliance]             	| TBH                                                                    	|
| 8    	| Manage    	| [Import]                 	| [Andrejs Cunskis]                                                      	|
| 9    	| Manage    	| [Optimize]               	| TBH                                                                    	|
| 10   	| Plan      	| [Project Management]     	| [Désirée Chevalier]                                                    	|
| 11   	| Plan      	| [Product Planning]       	| TBH                                                                    	|
| 12   	| Plan      	| [Certify]                	| TBH                                                                    	|
| 13   	| Ecosystem 	| [Integrations]           	| [Hiring Actively](https://boards.greenhouse.io/gitlab/jobs/5351998002) 	|
| 14   	| Ecosystem 	| [Foundations]            	| TBH                                                                    	|
| 15   	| Ecosystem 	| [Contributor Experience] 	| TBH                                                                    	|


## Quality Performance Indicators for Dev Section

(<a href="https://app.periscopedata.com/app/gitlab/736012/Quality-Embedded-Dashboard" target="_blank">Sisense↗</a>)
<embed width="100%" height="550" src="<%= signed_periscope_url({ dashboard: 736012, embed: 'v2', filters: [{name: 'Development_Section' , value: 'dev' }]}) %>">

[Dev section]: /handbook/product/categories/#dev-section
[Access]: /handbook/product/categories/#access-group
[Workspace]: /handbook/product/categories/#workspace-group
[Compliance]: /handbook/product/categories/#compliance-group
[Import]: /handbook/product/categories/#import-group
[Optimize]: /handbook/product/categories/#optimize-group
[Source Code]: /handbook/product/categories/#source-code-group
[Code Review]: /handbook/product/categories/#code-review-group
[Editor]: /handbook/product/categories/#editor-group
[Gitaly]: /handbook/product/categories/#gitaly-group
[Project Management]: /handbook/product/categories/#project-management-group
[Product Planning]: /handbook/product/categories/#product-planning-group
[Certify]: /handbook/product/categories/#certify-group
[Integrations]: /handbook/product/categories/#integrations-group
[Foundations]: /handbook/product/categories/#foundations-group
[Contributor Experience]: /handbook/product/categories/#contributor-experience-group
[Anastasia McDonald]: https://about.gitlab.com/company/team/#a_mcdonald
[Andrejs Cunskis]: https://about.gitlab.com/company/team/#acunskis
[Désirée Chevalier]: https://about.gitlab.com/company/team/#dchevalier2
[John McDonnell]: https://about.gitlab.com/company/team/#john.mcdonnell
[Mark Lapierre]: https://about.gitlab.com/company/team/#mlapierre
[Ramya Authappan]: https://about.gitlab.com/company/team/#at.ramya
[Sanad Liaquat]: https://about.gitlab.com/company/team/#sliaquat
[Tomislav Nikić]: https://about.gitlab.com/company/team/#tomi
