<div class="home-section-h row justify-content-center td-box--100"><h2>Latest Featured News</h2></div>
<div class="row td-box--100 pb-3 fyi-padding">
  <div class="card-deck mb-3 deck-center">
  {{ $regular_pages := .regular_pages }}

    {{ range first 2 (where $regular_pages "Params.tags" "intersect" (slice "featured")) }}
    <div class="card bg-primary text-white mb-3">
      <div class="card-body mb-3 card-padding">
        <h3>{{ .Title }}</h3>
        <p>{{ .Date.Format "Monday, 2006-01-02" }}</p>
        <p class="card-text">{{ .Summary }}</p>
        <p><a href="{{ .Permalink }}" class="selenium-link">Read More <i class="fas fa-caret-right"></i></a></p>
      </div>
    </div>
  {{ end }}
  </div>
</div>
