<table>
    <thead>
        {{- if .data.slack.channel }}<th>Slack Channel</th>{{end}}
        {{- if .data.slack.alias }}<th>Slack Alias</th>{{end}}
        {{- if .data.gitlab_group }}<th>GitLab Group</th>{{end}}
        {{- if .data.handbook }}<th>Handbook</th>{{end}}
        {{- if .data.pm_team_tag }}<th>Product Management</th>{{end}}
        {{- if .data.pm }}<th>Product Manager</th>{{end}}
        {{- if .data.pmm }}<th>Product Marketing Manager</th>{{end}}
        {{- if .data.spd }}<th>Staff Product Designer</th>{{end}}
        {{- if .data.ux }}<th>Product Designer</th>{{end}}
        {{- if .data.em }}<th>Engineering Manager</th>{{end}}
        {{- if .data.fullstack_managers }}<th>Fullstack Manager</th>{{end}}
        {{- if .data.backend_engineering_manager }}<th>Backend Engineering Manager</th>{{end}}
        {{- if .data.frontend_engineering_manager }}<th>Frontend Engineering Manager</th>{{end}}
    </thead>
    <tbody>
        {{- if .data.slack.channel }}<td><a href="https://gitlab.slack.com/app_redirect?channel=#{{ .data.slack.channel }}">#{{ .data.slack.channel }}</a></td>{{end}}
        {{- if .data.slack.alias }}<td>@{{.data.slack.alias}}</td>{{end}}
        {{- if .data.gitlab_group }}<td>@{{.data.gitlab_group}}</td>{{end}}
        {{- if .data.handbook }}<td><a href="/handbook/{{.data.handbook}}">Handbook</a></td>{{end}}
        {{- if .data.pm_team_tag }}<td></td>{{end}}
        {{- if .data.pm }}<td>
            {{- if reflect.IsSlice .data.pm }}
                {{- range .data.pm }}
                {{- partial "member-by-name" . -}}
                {{- end }}
            {{- else -}}
                {{- partial "member-by-name" .data.pm -}}
            {{- end -}}
        </td>{{end}}
        {{- if .data.pmm }}<td>
            {{- if reflect.IsSlice .data.pmm }}
                {{- range .data.pmm }}
                {{- partial "member-by-name" . "data" -}}
                {{- end }}
            {{- else -}}
                {{- partial "member-by-name" .data.pmm -}}
            {{- end -}}
        </td>{{end}}
        {{- if .data.spd }}<td><td>
                {{- if reflect.IsSlice .data.spd }}
                    {{- range .data.spd }}
                    {{- partial "member-by-name" . "data" -}}
                    {{- end }}
                {{- else -}}
                    {{- partial "member-by-name" .data.spd -}}
                {{- end -}}
            </td></td>{{end}}
        {{- if .data.ux }}<td>
                {{- if reflect.IsSlice .data.ux }}
                    {{- range .data.ux }}
                    {{- partial "member-by-name" . "data" -}}
                    {{- end }}
                {{- else -}}
                    {{- partial "member-by-name" .data.ux -}}
                {{- end -}}
            </td>{{end}}
        {{- if .data.em }}<td>
            {{- if reflect.IsSlice .data.em }}
                {{- range .data.em }}
                {{- partial "member-by-name" . "data" -}}
                {{- end }}
            {{- else -}}
                {{- partial "member-by-name" .data.em -}}
            {{- end -}}
        </td>{{end}}
        {{- if .data.fullstack_managers }}<td>
            {{- if reflect.IsSlice .data.fullstack_managers }}
                {{- range .data.fullstack_managers }}
                {{- partial "member-by-name" . "data" -}}
                {{- end }}
            {{- else -}}
                {{- partial "member-by-name" .data.fullstack_managers -}}
            {{- end -}}
        </td>{{end}}
        {{- if .data.backend_engineering_manager }}<td>
            {{- if reflect.IsSlice .data.backend_engineering_manager }}
                {{- range .data.backend_engineering_manager }}
                {{- partial "member-by-name" . "data" -}}
                {{- end }}
            {{- else -}}
                {{- partial "member-by-name" .data.backend_engineering_manager -}}
            {{- end -}}
        </td>{{end}}
        {{- if .data.frontend_engineering_manager }}<td>
            {{- if reflect.IsSlice .data.frontend_engineering_manager }}
                {{- range .data.frontend_engineering_manager }}
                {{- partial "member-by-name" . "data" -}}
                {{- end }}
            {{- else -}}
                {{- partial "member-by-name" .data.frontend_engineering_manager -}}
            {{- end -}}
        </td>{{end}}
    </tbody>
</table>
