---
layout: handbook-page-toc
title: Progressive Delivery Group - JTBD
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Overview

The goal of this page is to create, share and iterate on the Jobs to be Done (JTBD) and their corresponding job statements for the Progressive Delivery (PD) categories within the Release Stage. Our goal is to utilize the JTBD framework to better understand our buyers' and users' needs.

> When [situation], I want to [job] so I can [outcome].

For more information see:
- [Jobs to be Done (JTBD) Overview](/handbook/engineering/ux/jobs-to-be-done/)
- [Jobs to be Done (JTBD) Deep Dive](/handbook/engineering/ux/jobs-to-be-done/deep-dive/)
- [UX Scorecards](/handbook/engineering/ux/ux-scorecards/)

## Goals

Utilize JTBD and job statements to:

* Understand our users' motivations.
* Validate identified use cases and solutions.
* Continuously test and iterate features to ensure we are meeting our customers' and users' needs.
* Create a transparent view for our stakeholders into the current and future state of the product.

## Additional resources

* [JTBD/Job statements overview (internal)](https://docs.google.com/spreadsheets/d/17ckFs8KZxxW_Bfve5B5K0HwvjtPsZa5k9cUEQfVD0mM/edit#gid=0)

## JTBD

<%= partial("direction/jtbd-list", locals: { stage_key: "Progressive Delivery" }) %>

<a href="https://gitlab.com/-/ide/project/gitlab-com/www-gitlab-com/edit/master/-/data/jobs_to_be_done.yml" class="btn btn-default btn-sm">Update Jobs to be Done</a>
