---
layout: handbook-page-toc
title: "Fulfillment & Growth Quality Engineering team"
description: "Quality Engineering team for Fulfillment & Growth Sections"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Common Links

| **GitLab Team Handle** | [`@gl-quality/fulfillment-qe`](https://gitlab.com/gl-quality/fulfillment-qe) |
| **Slack Channel** | [#g_qe_fulfillment_growth](https://gitlab.slack.com/archives/C014UQAC8JW) |
| **Team Boards** | [Team Board](https://gitlab.com/groups/gitlab-org/-/boards/1512645?&label_name[]=Quality) |
| **Issue Tracker** | [quality/team-tasks](https://gitlab.com/gitlab-org/quality/team-tasks/issues/) |

Engineers in this team are embedded in the [Fulfillment section].

## Team members

Quality Engineering Manager: [Vincy Wilson]

[Fulfillment section]

| S.No 	| Stage       	| Group              | SET Counterpart                                                        |
|------	|---------------|--------------------|----------------------------------------------------------------------- |
| 1    	| [Fulfillment] | [Purchase]         | [Chloe Liu]                                                          	|
| 2    	| [Fulfillment] | [License]          | [Dan Davison]                                                         	|
| 3    	| [Fulfillment] | [Utilization]       | [Hiring Actively](https://boards.greenhouse.io/gitlab/jobs/5351998002) |    	

[Growth section]

| S.No 	| Stage       	| Group                  	| SET Counterpart                                                         |
|------	|---------------|------------------------	|------------------------------------------------------------------------ |
| 1    	| [Growth]      | [Activation]            | TBH                                                                   	|
| 2    	| [Growth]      | [Conversion]           	| TBH                                                                   	|
| 3    	| [Growth]      | [Expansion]             | TBH                                                                   	|
| 4    	| [Growth]      | [Adoption]              | TBH                                                                   	|
| 5    	| [Growth]      | [Product Intelligence]  | [Hiring Actively](https://boards.greenhouse.io/gitlab/jobs/5351998002)  |

## OKRs 

### Current quarter

<iframe src="https://app.ally.io/public/rUTVl31bBNLfkVt" class="dashboard-embed" height="900" width="100%" style="border:none;"> </iframe>

### Previous quarter

<iframe src="https://app.ally.io/public/epX0rB3Ow8tAmcO" class="dashboard-embed" height="900" width="100%" style="border:none;"> </iframe>

## CustomersDot End-to-End pipeline efficiency

(<a href="https://app.periscopedata.com/app/gitlab/817532/CustomersDot-End-to-End-Dashboard" target="_blank">Sisense↗</a>)
<embed width="100%" height="550" src="<%= signed_periscope_url({ dashboard: 817532, embed: 'v2'}) %>">

[Fulfillment section]: /handbook/product/categories/#fulfillment-section
[Fulfillment]: /handbook/product/categories/#fulfillment-stage
[Purchase]: /handbook/product/categories/#purchase-group
[License]: /handbook/product/categories/#license-group
[Utilization]: /handbook/product/categories/#utilization-group
[Growth section]: /handbook/product/categories/#growth-section
[Growth]: /handbook/product/categories/#growth-stage
[Activation]: /handbook/product/categories/#activation-group
[Conversion]: /handbook/product/categories/#conversion-group
[Expansion]: /handbook/product/categories/#expansion-group
[Adoption]: /handbook/product/categories/#adoption-group
[Product Intelligence]: /handbook/product/categories/#product-intelligence-group
[Chloe Liu]: https://about.gitlab.com/company/team/#chloeliu
[Dan Davison]: https://about.gitlab.com/company/team/#ddavison
[Vincy Wilson]: https://about.gitlab.com/company/team/#vincywilson
