<section class="row td-box td-box--dark position-relative td-box--height-auto" style="padding: 2em 0em;">
    <div class="col-12">
        <div class="container text-center td-arrow-down">
            <div class="h4 mb-0">
                <p class="h1 text-center">Table of Contents</p>
            </div>
        </div>
    </div>
</section>

<style>
    .col {
        padding-bottom: 2em;
    }
    .row > .card {
        padding-left: 0px;
        padding-right: 0px;
    }

    h3 > i {
        padding-right: 1em;
    }
</style>
<section id="td-block-1" class="td-box td-box--white td-box--height-auto">
<div class="row">
    <div class="col">
        <div class="card" style="height: 100%;">
            <div class="card-header">
                <a href="https://about.gitlab.com/company/">
                    <h3><i class="fas fa-brands fa-gitlab"></i> Company</h3>
                </a>
             </div>
             <div class="card-body">
                <div class="list-group">
                    <a href="https://about.gitlab.com/company/history/" class="list-group-item list-group-item-action">History</a>
                    <a href="/handbook/values/" class="list-group-item list-group-item-action">Values</a>
                    <a href="https://about.gitlab.com/company/mission/" class="list-group-item list-group-item-action">Mission</a>
                    <a href="https://about.gitlab.com/company/vision/" class="list-group-item list-group-item-action">Vision</a>
                    <a href="https://about.gitlab.com/company/strategy/" class="list-group-item list-group-item-action">Strategy</a>
                    <a href="https://about.gitlab.com/handbook/communication/" class="list-group-item list-group-item-action">Communication</a>
                    <a href="https://about.gitlab.com/company/culture/" class="list-group-item list-group-item-action">Culture</a>
                    <a href="/handbook/about/" class="list-group-item list-group-item-action">Handbook</a>
                    <a href="https://about.gitlab.com/teamops/" class="list-group-item list-group-item-action">TeamOps</a>
                    <a href="https://about.gitlab.com/handbook/ceo/" class="list-group-item list-group-item-action">CEO Readme</a>
                    <a href="https://about.gitlab.com/handbook/engineering/fellow/shadow/" class="list-group-item list-group-item-action">Creator pairing</a>
                    <a href="https://about.gitlab.com/handbook/ceo/chief-of-staff-team/" class="list-group-item list-group-item-action">Chief of Staff Team to the CEO</a>
                    <a href="https://about.gitlab.com/handbook/key-review/" class="list-group-item list-group-item-action">Key Reviews</a>
                    <a href="https://about.gitlab.com/handbook/group-conversations/" class="list-group-item list-group-item-action">Group Conversations</a>
                    <a href="https://about.gitlab.com/handbook/e-group-weekly/" class="list-group-item list-group-item-action">E-Group Weekly</a>
                    <a href="https://about.gitlab.com/handbook/environmental-sustainability/" class="list-group-item list-group-item-action">Sustainability</a>
                </div>
             </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="height: 100%;">
            <div class="card-header">
                <a href="https://about.gitlab.com/handbook/engineering/">
                    <h3><i class="fa-solid fa-laptop-code"></i> Engineering</h3>
                </a>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="https://about.gitlab.com/handbook/support/" class="list-group-item list-group-item-action">Customer Support Department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/development/" class="list-group-item list-group-item-action">Development Department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/development/dev/" class="list-group-item list-group-item-action">Dev Sub-department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/development/enablement/" class="list-group-item list-group-item-action">Enablement Sub-department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/development/fulfillment/" class="list-group-item list-group-item-action">Fulfillment Sub-department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/development/growth/" class="list-group-item list-group-item-action">Growth Sub-department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/development/ops/" class="list-group-item list-group-item-action">Ops Sub-department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/development/sec/govern/" class="list-group-item list-group-item-action">Govern Sub-department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/development/sec/secure/" class="list-group-item list-group-item-action">Secure Sub-department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/incubation/" class="list-group-item list-group-item-action">Incubation Engineering Department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/infrastructure/" class="list-group-item list-group-item-action">Infrastructure Department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/quality/" class="list-group-item list-group-item-action">Quality Department</a>
                    <a href="https://about.gitlab.com/handbook/engineering/quality/quality-engineering/" class="list-group-item list-group-item-action">Quality Engineering</a>
                    <a href="https://about.gitlab.com/handbook/engineering/quality/engineering-productivity/" class="list-group-item list-group-item-action">Engineering Productivity</a>
                    <a href="https://about.gitlab.com/handbook/engineering/quality/engineering-analytics/" class="list-group-item list-group-item-action">Engineering Analytics</a>
                    <a href="https://about.gitlab.com/handbook/security/" class="list-group-item list-group-item-action">Security Practices</a>
                    <a href="https://about.gitlab.com/handbook/engineering/open-source/" class="list-group-item list-group-item-action">Open Source</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="height: 100%;">
            <div class="card-header">
                <a href="https://about.gitlab.com/handbook/finance/">
                    <h3><i class="fa-solid fa-landmark"></i> Finance</h3>
                </a>
          </div>
          <div class="card-body">
              <div class="list-group">
                  <a href="https://about.gitlab.com/handbook/finance/" class="list-group-item list-group-item-action">Finance</a>
                  <a href="https://about.gitlab.com/handbook/finance/accounts-payable/" class="list-group-item list-group-item-action">Accounts Payable</a>
                  <a href="https://about.gitlab.com/handbook/finance/accounting/#accounts-receivable/" class="list-group-item list-group-item-action">Accounts Receivable</a>
                  <a href="https://about.gitlab.com/handbook/business-technology/" class="list-group-item list-group-item-action">Business Technology</a>
                  <a href="https://about.gitlab.com/handbook/finance/enterprise-risk-management/" class="list-group-item list-group-item-action">Enterprise Risk Management</a>
                  <a href="https://about.gitlab.com/handbook/finance/expenses/" class="list-group-item list-group-item-action">Expenses</a>
                  <a href="https://about.gitlab.com/handbook/finance/financial-planning-and-analysis/" class="list-group-item list-group-item-action">Financial Planning &amp; Analysis</a>
                  <a href="https://about.gitlab.com/handbook/finance/payroll/" class="list-group-item list-group-item-action">Payroll</a>
                  <a href="https://about.gitlab.com/handbook/finance/procurement/" class="list-group-item list-group-item-action">Procurement</a>
                  <a href="https://about.gitlab.com/handbook/tax/" class="list-group-item list-group-item-action">Tax</a>
                  <a href="https://about.gitlab.com/handbook/board-meetings/" class="list-group-item list-group-item-action">Board meetings</a>
                  <a href="https://about.gitlab.com/handbook/internal-audit/" class="list-group-item list-group-item-action">Internal Audit</a>
                  <a href="https://about.gitlab.com/handbook/internal-audit/sarbanes-oxley/" class="list-group-item list-group-item-action">Sarbanes-Oxley (SOX) Compliance</a>
                  <a href="https://about.gitlab.com/handbook/stock-options/" class="list-group-item list-group-item-action">Stock Options</a>
              </div>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card" style="height: 100%;">
            <div class="card-header">
                <a href="https://about.gitlab.com/handbook/people-group/">
                    <h3><i class="fa-solid fa-people-group"></i> People Group</h3>
                </a>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="https://about.gitlab.com/handbook/anti-harassment/" class="list-group-item list-group-item-action">Anti-Harassment Policy</a>
                    <a href="https://about.gitlab.com/handbook/people-group/givelab-volunteer-initiatives/" class="list-group-item list-group-item-action">Global Volunteer Month</a>
                    <a href="https://about.gitlab.com/handbook/hiring/" class="list-group-item list-group-item-action">Hiring</a>
                    <a href="https://about.gitlab.com/company/culture/inclusion/" class="list-group-item list-group-item-action">Inclusion &amp; Diversity</a>
                    <a href="https://about.gitlab.com/handbook/labor-and-employment-notices/" class="list-group-item list-group-item-action">Labor and Employment Notices</a>
                    <a href="https://about.gitlab.com/handbook/leadership/" class="list-group-item list-group-item-action">Leadership</a>
                    <a href="https://about.gitlab.com/handbook/people-group/learning-and-development/" class="list-group-item list-group-item-action">Learning &amp; Development</a>
                    <a href="https://about.gitlab.com/handbook/people-group/general-onboarding/" class="list-group-item list-group-item-action">Onboarding</a>
                    <a href="https://about.gitlab.com/handbook/people-group/offboarding/" class="list-group-item list-group-item-action">Offboarding</a>
                    <a href="https://about.gitlab.com/handbook/spending-company-money/" class="list-group-item list-group-item-action">Spending Company Money</a>
                    <a href="https://about.gitlab.com/handbook/people-group/team-member-relations/#team-member-relations-philosophy" class="list-group-item list-group-item-action">Team Member Relations Philosophy</a>
                    <a href="https://about.gitlab.com/handbook/total-rewards/" class="list-group-item list-group-item-action">Total Rewards</a>
                    <a href="/handbook/tools-and-tips/" class="list-group-item list-group-item-action">Tools and Tips</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="height: 100%;;">
            <div class="card-header">
                <a href="https://about.gitlab.com/handbook/product/">
                    <h3><i class="fa-solid fa-comments"></i> Product</h3>
                </a>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="https://about.gitlab.com/handbook/marketing/blog/release-posts/" class="list-group-item list-group-item-action">Release posts</a>
                    <a href="https://about.gitlab.com/handbook/product/gitlab-the-product/" class="list-group-item list-group-item-action">About the GitLab Product</a>
                    <a href="https://about.gitlab.com/handbook/product/product-manager-role/" class="list-group-item list-group-item-action">Being a Product Manager at GitLab</a>
                    <a href="https://about.gitlab.com/handbook/product/product-principles/" class="list-group-item list-group-item-action">Product Principles</a>
                    <a href="https://about.gitlab.com/handbook/product/product-processes/" class="list-group-item list-group-item-action">Product Processes</a>
                    <a href="https://about.gitlab.com/handbook/product/categories/" class="list-group-item list-group-item-action">Product sections, stages, groups, and categories</a>
                    <a href="https://about.gitlab.com/handbook/product-development-flow/" class="list-group-item list-group-item-action">Product Development Flow</a>
                    <a href="https://about.gitlab.com/handbook/engineering/workflow/#product-development-timeline" class="list-group-item list-group-item-action">Product Development Timeline</a>
                    <a href="https://about.gitlab.com/handbook/business-technology/data-team/programs/data-for-product-managers/" class="list-group-item list-group-item-action">Data for Product Managers</a>
                    <a href="https://about.gitlab.com/company/pricing/" class="list-group-item list-group-item-action">Product Pricing Model</a>
                    <a href="https://about.gitlab.com/handbook/business-technology/data-team/" class="list-group-item list-group-item-action">Data analysis</a>
                    <a href="https://about.gitlab.com/handbook/acquisitions/" class="list-group-item list-group-item-action">Corporate Development / Acquisitions</a>
                    <a href="https://about.gitlab.com/handbook/product/ux/" class="list-group-item list-group-item-action">UX Department</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="height: 100%;;">
            <div class="card-header">
                <a href="https://about.gitlab.com/handbook/security/">
                    <h3><i class="fa-solid fa-shield-halved"></i> Security</h3>
                </a>
          </div>
          <div class="card-body">
              <div class="list-group">
                  <a href="https://about.gitlab.com/handbook/security/#secure-the-product--security-engineering" class="list-group-item list-group-item-action">Security Engineering</a>
                  <a href="https://about.gitlab.com/handbook/security/security-operations/" class="list-group-item list-group-item-action">Security Operations</a>
                  <a href="https://about.gitlab.com/handbook/security/threat-management/" class="list-group-item list-group-item-action">Threat Management</a>
                  <a href="https://about.gitlab.com/handbook/security/security-assurance/" class="list-group-item list-group-item-action">Security Assurance</a>
              </div>
          </div>
          <div class="card-header">
              <a href="https://about.gitlab.com/handbook/legal/">
                  <h3><i class="fa-solid fa-scale-balanced"></i> Legal &amp; Compliance</h3>
              </a>
          </div>
          <div class="card-body">
              <div class="list-group">
                  <a href="https://ir.gitlab.com/static-files/7d8c7eb3-cb17-4d68-a607-1b7a1fa1c95d" class="list-group-item list-group-item-action">GitLab Code of Business Conduct and Ethics</a>
              </div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card" style="height: 100%;">
            <div class="card-header">
                <a href="https://about.gitlab.com/handbook/marketing/">
                    <h3><i class="fa-solid fa-lightbulb"></i> Marketing</h3>
                </a>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="https://about.gitlab.com/handbook/marketing/team-member-social-media-policy/" class="list-group-item list-group-item-action">Team Member Social Media Policy</a>
                    <a href="https://about.gitlab.com/handbook/marketing/blog/" class="list-group-item list-group-item-action">Blog</a>
                    <a href="https://about.gitlab.com/handbook/marketing/brand-and-product-marketing/" class="list-group-item list-group-item-action">Brand and Product Marketing</a>
                    <a href="https://about.gitlab.com/handbook/marketing/integrated-marketing/" class="list-group-item list-group-item-action">Integrated Marketing</a>
                    <a href="https://about.gitlab.com/handbook/marketing/sales-development/" class="list-group-item list-group-item-action">Sales Development</a>
                    <a href="https://about.gitlab.com/handbook/marketing/marketing-strategy-and-platforms/" class="list-group-item list-group-item-action">Marketing Strategy, Ops, &amp; Analytics</a>
                    <a href="https://about.gitlab.com/handbook/marketing/growth/" class="list-group-item list-group-item-action">Growth</a>
                    <a href="https://about.gitlab.com/handbook/marketing/developer-relations/" class="list-group-item list-group-item-action">Developer Relations &amp; Community</a>
                    <a href="https://about.gitlab.com/handbook/marketing/corporate-communications/" class="list-group-item list-group-item-action">Corporate Communications</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="height: 100%;;">
            <div class="card-header">
                <a href="https://about.gitlab.com/handbook/sales/">
                    <h3><i class="fa-solid fa-handshake"></i> Sales</h3>
                </a>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="https://about.gitlab.com/handbook/sales/commercial/" class="list-group-item list-group-item-action">Commercial</a>
                    <a href="https://about.gitlab.com/handbook/customer-success/" class="list-group-item list-group-item-action">Customer Success</a>
                    <a href="https://about.gitlab.com/handbook/resellers/" class="list-group-item list-group-item-action">Reseller Channels</a>
                    <a href="https://about.gitlab.com/handbook/sales/field-operations/" class="list-group-item list-group-item-action">Field Operations</a>
                    <a href="https://about.gitlab.com/handbook/business-technology/#reporting" class="list-group-item list-group-item-action">Reporting</a>
                    <a href="https://about.gitlab.com/handbook/customer-success/csm/" class="list-group-item list-group-item-action">Customer Success Management</a>
                    <a href="https://about.gitlab.com/handbook/alliances/" class="list-group-item list-group-item-action">Alliances</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="height: 100%;;">
            <div class="card-header">
                <a href="/handbook/about">
                    <h3><i class="fa-solid fa-book"></i> Handbooks</h3>
                </a>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="/handbook/content-websites/" class="list-group-item list-group-item-action">Content Websites</a>
                    <a href="/handbook/content-websites/handbook-migration/" class="list-group-item list-group-item-action">Handbook Migration</a>
                    <a href="/handbook/about/on-call/" class="list-group-item list-group-item-action">Handbook On-Call</a>
                    <a href="/handbook/about/support/" class="list-group-item list-group-item-action">Handbook Support</a>
                    <a href="/handbook/about/roadmap/" class="list-group-item list-group-item-action">Handbook Roadmap</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
