{{- $dataURL := printf "https://about.gitlab.com/company/team/team.yml" }}
{{- with resources.GetRemote $dataURL (dict "mediaType" "application/yaml")}}
  {{- with .Err}}
    <h2>Unable to fetch Team Member Data File</h2>
  {{- else }}
      {{- $data := .Content | transform.Unmarshal  }}
      {{- $coaches := slice }}
      {{- range $data }}
        {{- if in .departments "Merge Request Coach" }}
          {{- $coaches = append . $coaches }}
        {{- end }}
      {{- end }}
      {{- len $coaches }}
    {{- end }}
{{- end }}
