{{ $data := getJSON "https://gitlab.com/api/v4/projects/42817607/merge_requests?" "&state=merged" "&per_page=100" }}

{{ $.Scratch.Set "lastdate" "2000-01-01T00:00:00.000Z"}}

{{ $.Scratch.Set "first" true }}
{{ range sort $data "merged_at" "desc" }}
{{ $lastdate := $.Scratch.Get "lastdate" }}

{{ if ne (dateFormat "02 Jan 06" .merged_at) (dateFormat "02 Jan 06" $lastdate) }}

{{ if not ($.Scratch.Get "first") }}
</ul>
{{ else }}
{{ $.Scratch.Set "first" false }}
{{ end }}
<p class="h4">{{ dateFormat "2006-01-02" .merged_at }}</h2>
<ul>
{{ $.Scratch.Set "lastdate" .merged_at }}
{{ end }}
    <li><a href="https://gitlab.com/gitlab-com/content-sites/handbook/merge_requests/{{ .iid }}">!{{ .iid }}</a> - {{ .title }}</li>
{{ end }}
</table>

