{{ $dataURL := printf "https://gitlab.com/gitlab-com/www-gitlab-com/-/raw/master/data/people_group/people_business_partners.yml"}}
{{ with resources.GetRemote $dataURL }}
  {{ with .Err}}
    <h2>Unable to fetch performance indicator Data</h2>
  {{ else }}
      {{ $data := . | transform.Unmarshal }}
      
      <table style="display: table; width: 50%;">
          <thead>
              <tr>
                  <th>Contact</th>
                  <th>Division - Department</th>
              </tr>
          </thead>
          <tbody>
              {{ range $data }}
              <tr>
                  <td>{{ .name }}</td>
                  <td>{{ .present }}</td>
              </tr>
              {{ end }}
          </tbody>
      </table>
  {{ end }}
{{ end }}
