{{ $stages := partials.IncludeCached "data/stages" page }}

<table>
  <thead>
    <tr>
        <th>Group</th>
        <th>Support Counterpart</th>
    </tr>
  </thead>
  <tbody>
  {{ range $stages }}
    {{ $.Scratch.Set "display_name" .display_name }}
    {{ range .groups }}
      {{ if .support }}
        <tr>
          <td>{{ $.Scratch.Get "display_name" }} : {{ .name }}</td>
          <td>{{- if reflect.IsSlice .support }}
                {{- range .support}}
                  <div class="mb-2">{{ partial "member-by-name" . }}</div>
                {{- end }}
              {{- else }}
                {{ partial "member-by-name" .support }}
              {{- end }}
          </td>
        </tr>
      {{ end }}
    {{ end }}
  {{ end }}
  </tbody>
</table>
