{{- /*  Initialize. */}}
{{- $department := "" }}

{{- /* Get params. */}}
{{- with (.Get 0) }}
  {{- $department = . }}
{{- else }}
  {{- errorf "The %q shortcode requires a single positional argument for department."}}
{{- end }}

<table>
    <thead>
      <th>Name</th>
      <th>Role</th>
      <th>Speciality</th>
    </thead>
    <tbody>
        {{- $img := "" }}
        {{- $username := "" }}
        {{ range $k, $v := partials.IncludeCached "team/by-name" . }}
        {{ $username = $v.gitlab }}
        {{ if in .departments $department }}
        <tr>
            <td>{{ partial "member-by-name" .name }}</td>
            <td>{{.role | safe.HTML}}</td>
              <td>
                {{- if reflect.IsSlice .specialty }}
                  {{- if gt (len .specialty) 1 }}
                    <ul>
                    {{ range .specialty }}
                      <li>{{.}}</li>
                    {{ end }}
                    </ul>
                  {{- else }}
                    {{ index .specialty 0 }}
                  {{- end }}
                {{- else }}
                  {{ .specialty }}
                {{- end }}
            </td>
        </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>
