{{- with (.Get 0) }}
<div style="max-width: 70%">
<iframe src="https://dashboards.quality.gitlab.net/d-solo/tR_SmBDVk/main-runs?orgId=1&refresh=1m&var-run_type={{ . }}&theme=light&panelId=18" height="300" width="30%" align="left" loading="lazy" frameborder="0"></iframe>
<iframe src="https://dashboards.quality.gitlab.net/d-solo/tR_SmBDVk/main-runs?orgId=1&refresh=1m&var-run_type={{ . }}&theme=light&panelId=12" height="300" width="70%" align="right" loading="lazy" frameborder="0"></iframe>
<iframe src="https://dashboards.quality.gitlab.net/d-solo/tR_SmBDVk/main-runs?orgId=1&refresh=1m&var-run_type={{ . }}&theme=light&panelId=2" height="300" width="100%" align="center" loading="lazy" frameborder="0"></iframe>
<iframe src="https://dashboards.quality.gitlab.net/d-solo/tR_SmBDVk/main-runs?orgId=1&refresh=1m&var-run_type={{ . }}&theme=light&panelId=16" height="300" width="100%" align="center" loading="lazy" frameborder="0"></iframe>
<iframe src="https://dashboards.quality.gitlab.net/d-solo/tR_SmBDVk/main-runs?orgId=1&refresh=1m&var-run_type={{ . }}&theme=light&panelId=15" height="300" width="100%" align="center" loading="lazy" frameborder="0"></iframe>
</div>
{{- end }}
