---
layout: default
title: "GitLab Executives (E-group)"
description: "Meet the GitLab E-group"
canonical_path: "/company/team/e-group/"
suppress_header: true
---

<div class="simple-header">
  <h1>GitLab Executive Team</h1>
  <p>Meet the GitLab E-group.</p>
</div>

<div class="content-container">
  <div class="content">
    <%= partial("company/team/e-group/e_group_members") %>
  </div>
</div>